<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <!-- Template Partials (if we want to have multiplate pages and we want a header on every page, we don't want to put header in every single view -> so we create headers.ejs to have a header in separate file)  -->
    <%- include('partials/header.ejs') %>

    <h1><%= message %></h1>
    <ul>
      <% people.forEach(person => { %>
      <li><%= person %></li>
      <% }); %>
    </ul>
  </body>
</html>
